@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<div id="nav">
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
                <P class="navbar-brand page-scroll nameMain" href="">Craig Spreeman</P>
            </div>

            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden"> <a href="#page-top"></a> </li>
                    <li> <a class="page-scroll" href="#about">About</a> </li>
                    <li> <a class="page-scroll" href="#skills">Skills</a> </li>
                    <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li>
                    <li> <a class="page-scroll" href="#resume">Resume</a> </li>
                    <li> <a class="page-scroll" href="#contact">Contact</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>About Me</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"></div>
            <div class="col-md-8 col-md-offset-2">
                <div class="about-text">
                    <p>My passion for both technology and surfing has been my drive to evolve into a successful individual. This evolution is what pushed me into the world of Web Development.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skills Section -->
<div id="skills" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Skills</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="95"> <span class="dev devicon-html5-plain colored"></span> </span>
                <h4>HTML5</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="85"> <span class="dev fa fa-css3"></span> </span>
                <h4>CSS3</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-jquery-plain colored"></span> </span>
                <h4>jQuery</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-angularjs-plain colored"></span> </span>
                <h4>Angularjs</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-bootstrap-plain colored"></span> </span>
                <h4>Bootstrap</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-chrome-plain colored"></span> </span>
                <h4>Chrome Tools</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-csharp-plain colored"></span> </span>
                <h4>C#</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-dot-net-plain colored"></span> </span>
                <h4>.Net</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-javascript-plain colored"></span> </span>
                <h4>Javascript</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev fa fa-database"></span> </span>
                <h4>SQL</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-trello-plain colored"></span> </span>
                <h4>Trello</h4>
            </div>
            <div class="col-md-2 col-sm-4 skill">
                <span class="chart" data-percent="80"> <span class="dev devicon-visualstudio-plain colored"></span> </span>
                <h4>Visual Studio</h4>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Section -->
<div id="portfolio">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Projects</h2>
            <hr>
        </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items">
                <div class="col-md-push-3 col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://aninsideconnection.azurewebsites.net/" title="Project description">
                                <div class="hover-text">
                                    <h4>An Inside Connection</h4>
                                    <small>Full Stack Web Design</small>
                                </div>
                                <img src="~/img/Rework Logo.png" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portfolio-items">
                <div class="col-md-push-3 col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="" title="Project description">
                                <div class="hover-text">
                                    <h4>MITM</h4>
                                    <small>Full Stack Web Design</small>
                                </div>
                                <img src="http://cdn.wonderfulengineering.com/wp-content/uploads/2014/07/black-and-white-wallpaper-13.jpg" class="img-responsive" alt="Project Title">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Achievements Section -->
<div id="achievements" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Hackathons</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="200ms">
                <div class="achievement-box">
                    <span class="count">Smart Cities San Diego</span>
                    <h4>Learn and fully utilize CityIQ IoT Platform powered by GE. This platforms API included metadata for parking, pedestrian, environmental, and traffic planning. Along with real time situational awareness. Our application was built using ASP.NET MVC, angularjs, html, css, and bootstrap for mobile responsiveness.</h4>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInDown" data-wow-delay="400ms">
                <div class="achievement-box">
                    <span class="count">Santa Ana Hack for Health</span>
                    <h4>Developed application for homeless and less fortunate to register using a standardized intake form, the site would then locate any medical, emergency, faith organizations and shelter services near their location to provide help.. This was done with ASP.NET MVC, angularjs, html, css, and bootstrap for mobile responsiveness. </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Resume Section -->
<div id="resume" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Experience</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>
                                Present <br>
                                - <br>
                                Jan 2017
                            </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>ReWork Work</h4>
                                <h4 class="subheading">Full Stack .Net Developer</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Built on  ASP.NET MVC backed by Microsoft SQL server database exposed via RESTful Web API. The web client employs AngularJS and responsive web design practices for desktop,
                                 tablet and mobile. Employed agile development process with daily standups and Trello for task management.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Dec 2016 <br>
                                - <br>
                                Jan 2009
                            </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jack's Surf and Sport</h4>
                                <h4 class="subheading">General Manager</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Managed 30+ employees, multiple locations, created and implemented trainings that boosted productivity,
                                 created and executed strategies to increase revenue. Responsible for a multi-million dollar store front during a full day's business hours(12).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>
                                Present <br>
                                - <br>
                                Jan 2012
                            </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">Self Teaching</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Developed small side projects along with reading and immersing myself in technology.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Contact</h2>
            <hr>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-4">
                <i class="fa fa-map-marker fa-2x"></i>
                <p>
                    Huntington Beach, CA 92646
                </p>
            </div>
            <div class="col-md-4">
                <a href="mailto:CraigSpreeman@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
                <p>CraigSpreeman@gmail.com</p>
            </div>
            <div class="col-md-4">
                <i class="fa fa-phone fa-2x"></i>
                <p>Please Contact For Phone</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="social">
                <ul>
                    <li><a href="https://github.com/CSpreeman"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/chihuahua_dad/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/craig-spreeman-925319b5/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
